@media(max-width:375px) {

    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-image: url(../img/premium_photo-1678566111481-8e275550b700.avif);
    }


    .portfolio__card {
        width: 327px;
        padding: 24px;
    }
}